html, body{
    height: 100%;
}
header {
    background-color: rgb(255, 187, 0);
    color: #000000;
}

.btn-create {
    text-align: left;
    width: 180px;
}

#group-note {
    margin-top: 20px;
}

.note {
    margin-bottom: 50px;
}

.note-date {
    background: beige;
    padding: 10px;
}

.progress{
    height: 1rem;
}

aside{
    position: sticky !important;
    top: 0;
    height: 200px;
}